.databasep
{
	position:absolute;
	color: #f5f5f5;
	font-weight: bold;
	font-family: Arial;
	top:0;
	left:0;
	right:0;
}
.toppr
{
	position:absolute;
	background-color:#5a5a5a;
	top:0;
	left:0;
	right:0;
}
.lefty1
{
	position:absolute;
	top:5em;
	background-color:#efefef;
	left:0;
	border-right: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	height:50em;
	min-height:100%;
	width:50%;
}
.righty1
{
	float:right;
	top:5em;
	background-color:#f7f7f7;
	border-left: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	right:0;	
	height:50em;
	min-height:100%;
	width:50%;
}